.home-page {
  position: relative;

  max-width: 1920px;
  min-height: calc(100vh - 132px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  background-size: cover;
  background-position: center;

  overflow-x: hidden;
}

.home-page__content {
  position: relative;
  z-index: 1;

  max-width: 600px;
  padding: 20px;
  margin: 40px auto 10px;

  background: rgba(200, 190, 185, 0.8);
  border-radius: 30px;
  border: 2px solid;
  border-image-source: radial-gradient(104.22% 230.94% at -4.22% 0%, #24c5db 3.62%, rgba(36, 197, 219, 0.26) 55.1%),
    radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%);
}

.home-page__title {
  font-size: 53px;
  text-transform: uppercase;
}

@keyframes santa-flow {
  0% {
    left: 120%;
  }
  100% {
    left: -50%;
  }
}

.home-page__lottie {
  position: absolute;
  top: 10px;

  height: 200px;
  width: 350px;

  animation: santa-flow 7s ease-in-out infinite;
}
