@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.styled-range {
  
  background: linear-gradient(to right, #710707 50%, #C4C4C4 50%);
  border: none;
  border-radius: 0;
  height: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.styled-range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;

  border-radius: 50%;
  -webkit-appearance: none;
  background: #FFFFFF;
}

.player {
  position: relative;
  z-index: 10;

  padding: 15px;

  border-radius: 20px;

  transition: all 0.3s;
}

.player:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.player-play-buttons {
  display: flex;
  align-items: center;
}

.play {
  margin: 0 5px;
}

.player-progress {
  position: relative;
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.player-title {
  position: absolute;
  top: 0;

  width: 100%;

  transform: translatey(-120%);
}

.player-time {
  font-size: 14px;
  flex-shrink: 0;
}

.player-progress-range {
  width: 200px;
  margin-right: 10px;
}

.player-sound {
  display: flex;
  align-items: center;
}

.player-volume {
  margin-right: 5px;
}

.play-list {
  max-height: 0;

  overflow: hidden;

  text-align: left;

  transition: max-height 0.3s;
}

.player:hover .play-list {
  max-height: 700px;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.player-volume svg {
  width: 100%;
  height: 100%;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 29.5vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.settings-button {
  width: 50px;
  height: 50px;

  border: none;
  background-color: transparent;
  background-image: url(../assets/svg/settings.svg);
  opacity: 0.8;

  cursor: pointer;

  transition: all 0.3s;
}

.settings-button:hover {
  opacity: 1;
}

.settings-button.active {
  opacity: 1;
  transform: rotate(30deg);
}

.settings-wrapper {
  position: absolute;
  bottom: 120%;

  width: 300px;
  padding: 15px;

  border-radius: 20px;

  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;

  transition: all 0.3s;
}

.settings-wrapper.active {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}

.settings-item {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .player {
    max-width: 340px;
  }
  .player-controls {
    justify-content: center;
    flex-wrap: wrap;
  }

  .player-play-buttons {
    margin-right: 15px;
  }

  .player-progress {
    margin-top: 50px;
    order: 1;
  }

  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}