@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.styled-range {
  
  background: linear-gradient(to right, #2196F3 50%, #C4C4C4 50%);
  border: none;
  border-radius: 0;
  height: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.styled-range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;

  border-radius: 50%;
  -webkit-appearance: none;
  background: #FFFFFF;
}

.player {
  position: relative;
  z-index: 10;

  padding: 15px;
  max-width: 340px;

  border-radius: 20px;

  transition: all 0.3s;
}

.player:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.player-button {
  display: none;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.player-play-buttons {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.play {
  margin: 0 5px;
}

.player-progress {
  position: relative;
  
  margin: 0 15px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  order: 1;
}

.player-title {
  position: absolute;
  top: 0;

  width: 100%;

  transform: translatey(-120%);
}

.player-time {
  font-size: 14px;
  flex-shrink: 0;
}

.player-progress-range {
  width: 200px;
  margin-right: 10px;
}

.player-sound {
  display: flex;
  align-items: center;
}

.player-volume {
  margin-right: 5px;
}

.play-list {
  max-height: 0;

  overflow: hidden;

  text-align: left;

  transition: max-height 0.3s;
}

.player:hover .play-list {
  max-height: 700px;
}

.play-item {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.item-active {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.player-volume svg {
  width: 100%;
  height: 100%;
}

.play-item .player-icon {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.date::first-letter {
  text-transform: uppercase;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 29.5vh;
  min-height: 160px;  
  padding: 20px;
}

.qoutes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quotes {
  padding: 0 50px;
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.settings-button {
  width: 50px;
  height: 50px;

  border: none;
  background-color: transparent;
  background-image: url(../assets/svg/settings.svg);
  opacity: 0.8;

  cursor: pointer;

  transition: all 0.3s;
}

.settings-button:hover {
  opacity: 1;
}

.settings-button.active {
  opacity: 1;
  transform: rotate(30deg);
}

.settings-wrapper {
  position: absolute;
  bottom: 120%;

  width: 320px;
  padding: 15px;

  text-align: left;

  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;

  transition: all 0.3s;
}

.settings-wrapper.active {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}

.settings-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.settings-item:not(:last-child) {
  margin-bottom: 20px;
}

.setting-title {
  font-weight: 700;
}

.setting-config {
  justify-self: end;
}

.settings-config {
  justify-self: end;
}

.block-title {
  margin: 3px 0;
}

.blocks-show-title {
  margin-bottom: 5px;
  grid-column: span 2;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.animate {
  transition: 0.3s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.error {
  color: #eda3a3;
}

.todo-wrapper {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.todo {
  position: absolute;
  bottom: 120%;
  right: 0;

  width: 320px;
  padding: 20px;

  text-align: left;

  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;

  transition: all 0.3s;
}

.todo.active {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}

.todos {
  height: 200px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.todo-show-button {
  width: 50px;
  height: 50px;

  border: none;
  background-color: transparent;
  background-image: url(../assets/svg/list.svg);
  opacity: 0.8;

  cursor: pointer;

  transition: all 0.3s;
}

.todo-show-button:hover {
  opacity: 1;
}

.todo-item {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.todo-checkbox {
  margin-right: 5px;
}

.todo-item[data-todo-state="deleted"] {
  display: none;
} 

[data-todo-option="completed"] .todo-item:not([data-todo-state="completed"]),
[data-todo-option="deleted"] .todo-item:not([data-todo-state="deleted"]) {
  display: none;
}

[data-todo-option="deleted"] .todo-item[data-todo-state="deleted"] {
  display: block;
}

[data-todo-state="active"] .todo-action-restore,
[data-todo-state="completed"] .todo-action-complete,
[data-todo-state="deleted"] .todo-action-complete {
  display: none;
}

[data-todo-state="completed"] .todo-task {
  text-decoration: line-through;
}

.todo-action {
  display: block;
}

.todo-action-delete {
  margin-left: auto;

  color: red;
}

.todo-action-delete::before {
  content: 'x';
}

.todo-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-bottom: 15px;
}

.todo-option {
  display: none;
}

.todo-option + label {
  padding: 5px 0; 

  text-align: center;
  color: #837d7d;

  background-color: #fff;
  border-radius: 5px;
  opacity: 0.8;

  transition: all 0.3s;
}

.todo-option + label:hover {
  opacity: 1;
}

.todo-option:checked + label {
  color: #ffffff;

  background-color: #2196F3;
  opacity: 1;
}

.todo-input {
  width: 100%;
  padding: 5px;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

@media (max-width: 768px) {

  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 550px) {
  .player-wrapper {
    position: relative;
  }

  .player-button {
    display: block;
  }

  .player {
    position: absolute;
    top: 120%;
    left: 0;

    width: 320px;
    padding: 20px;

    text-align: left;

    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;

    transition: all 0.3s;
  }

  .player.active {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }

  .player-progress {
    margin-top: 30px;
  }

  .play-list {
    max-height: none;
  }

  .player-icon {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }

  .play {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
}