.garland {
  position: relative;

  width: 100%;
  height: 100%;
}

.garland__item {
  --light-off-opacity: 0.4;
  --main-color: red;

  position: absolute;

  width: 7px;
  height: 7px;

  border-radius: 50px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(var(--main-color), 1);
  box-shadow: 0px 2px 20px 4px rgba(var(--main-color), 1);
  animation-name: flash;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0%,
  100% {
    background: rgba(var(--main-color), 1);
    box-shadow: 0px 2px 20px 4px rgba(var(--main-color), 1);
  }
  50% {
    background: rgba(var(--main-color), var(--light-off-opacity));
    box-shadow: 0px 2px 20px 4px rgba(var(--main-color), 0.2);
  }
}
