<div class="home">
  <div class="container">
    <h1 class="visually-hidden">Art Quiz</h1>
    <div class="home__logo" id="logo"></div>
    <div class="home__inner">
      <div class="home__card home-card">
        <a href="#artists" class="home-card__wrapper">
          <img class="home-card__img" src="./images/artist.jpg" alt="">
          <div class="home-card__text"><b>Artists</b> Quiz</div>
        </a>
      </div>
      <div class="home__card home-card">
        <a href="#pictures" class="home-card__wrapper">
          <img class="home-card__img" src="./images/picture.jpg" alt="">
          <div class="home-card__text"><b>Pictures</b> Quiz</div>
        </a>
      </div>
    </div>
    <div class="home__button-wrapper">
      <a href="#settings" class="home__settings-button button">Settings</a>
    </div>
  </div>
</div>