<div class="home">
  <div class="container home__container">
    <div class="home__inner">
      <h1 class="visually-hidden">Art Quiz</h1>
      <div class="home__settings-wrapper">
        <a href="#settings" class="home__settings-button button">Settings</a>
      </div>
      <div class="home__logo">
        <img src="./images/home-logo.svg" alt="">
      </div>
      <div class="home__buttons">
          <a href="#artists" class="home__button button">
            <b>Artists</b> Quiz
          </a>
          <a href="#pictures" class="home__button button">
            <b>Pictures</b> Quiz
          </a>
      </div>
    </div>
  </div>
</div>