<header id="header"></header>
<div class="settings">
  <div class="container">
    <div class="settings__inner">
      <div class="settings__item settings-item">
        <h2 class="settings__title">Звук</h2>
        <div class="settings__inputs">
          <label class="settings__label">
            Выкл
            <span class="settings__switch switch-checkbox">
              <input type="checkbox" name="volume-on" id="sound-on">
              <span></span>
            </span>
            Вкл
          </label>
          <label class="settings__label">
            <svg class="settings__icon">
              <use xlink:href="./images/settings-sprite.svg#volume-down"></use>
            </svg>
            <input class="settings__range" type="range" name="volume" id="volume-bar" step="5" min="5" max="100" value="50">
            <svg class="settings__icon">
              <use xlink:href="./images/settings-sprite.svg#volume-up"></use>
            </svg>
          </label>
        </div>
      </div>
      <div class="settings__item settings-item">
        <h2 class="settings__title">Игра на время</h2>
        <div class="settings__inputs">
          <label class="settings__label">
            Выкл
            <span class="settings__switch switch-checkbox">
              <input type="checkbox" name="time-on" id="time-game-on">
              <span></span>
            </span>
            Вкл
          </label>
          <label class="settings__label">
            <input class="settings__range" type="range" name="time" min="5" max="30" step="5" id="time-bar">
            <span class="settings__time"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-buttons">
  <a class="page-buttons__button button sound-switch-component button-help button-help--top" href="#" id="save-button" data-helps="Сохранить настройки и вернуться на главную страницу">Сохранить</a>
  <button class="page-buttons__button button button-help button-help--top" id="default-button" data-helps="Вернуться к настройкам по умолчанию">По умолчанию</button>
</div>