.header {
  font-size: 22px;
  color: #fff;

  background: rgba(168, 24, 23, 1);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  margin: 0;
  padding: 15px 0;
  display: flex;
}

.header-menu__item {
  margin-right: 20px;
}

.header-menu__link {
  position: relative;
}

.header-menu__link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;

  height: 1px;
  width: 100%;

  background-color: #ffffff;

  transform: scale(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
  will-change: transform;
}

.header-menu__link:hover::after {
  transform: scale(1);
  transform-origin: left;
}

.header__favorite {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;

  background-image: url(./images/ball.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.9;

  transition: all 0.5s;
}

.header__favorite-wrapper:hover .header__favorite {
  opacity: 1;
  transform: rotateY(360deg);
}

.header__favorite span {
  margin-top: 13px;
  width: 25px;
  height: 25px;

  text-align: center;
  line-height: 25px;

  border-radius: 50%;
  background: rgba(168, 24, 23, 1);
}
