@import url(_normalize.scss);
@import url(_fonts.scss);
@import url(_global.scss);

/*------------------------------- HEADER -------------------------------*/

.header {
  padding: 59px 0;

  font-weight: 200;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  font-family: 'Forum', cursive;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  &__img {
    margin-right: 25px;
    
    fill: #ffffff;
  }
}

.header-nav {
  letter-spacing: 2px;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    
    &:not(:last-child) {
      margin-right: 56px;
    }
  }

  &__link {
    transition: color 0.3s;
    &:hover {
      color: #9D8665;
    }
    &:active {
      color: #7E6C51;
    }
  }
}

.section {
  padding: 75px 0;

  &--welcome {
    padding: 0 0 60px;
  }

  &--even {
    color: #000000;

    background-color: #ffffff;

    .section-title {
      color: #9D8665;
    }
  }

  &--gallery {
    padding-bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    row-gap: 60px;

    &--vertical-centre {
      align-items: center;
    }
  }

  &__column {
    box-sizing: border-box;

    &--first {
      margin-right: 60px;
    }

    &--bigger {
      width: 50%;
      flex-shrink: 0;
    }

    &--tickets {
      flex-grow: 1;
    }

    &--map {
      max-width: 960px;
    }
  }

  &__text {


    line-height: 38px;
    span {
      color: #caaa7d;
    }

    p {
      margin: 0;
      margin-bottom: 25px;
    }
  }

  &__contacts {
    h3 {
      margin: 0;
      margin-bottom: 50px;

      font-size: 28px;
      font-weight: 500;
    }

    address {
      font-style: normal;
    }

    p {
      margin: 25px 0;
    }

    a {
      transition: color 0.3s;

      &:hover {
        color: #9d8665;
      }

      &:active {
        color: #7E6C51;
      }
    }
  }
}

.section-title {
  margin: 0;
  margin-bottom: 75px;

  font-family: 'Forum', cursive;
  font-size: 80px;
  line-height: 90px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;

  &--underline {
    position: relative;

    padding-bottom: 30px;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      
      height: 3px;
      margin: 0;

      background-color: #710707;
    }
  }
}

.slider {
  position: relative;

  &__wrapper {
    max-width: 100%;

    overflow: hidden;
  }

  &__slides {
    display: flex;
    width: 10000px;
  }
}

.welcome-section {
  &__inner {
    display: flex;
  }
  &__body {
    position: relative;
    z-index: 1;

    max-width: 600px;
    width: 100%;
    padding-top: 150px;
    

    letter-spacing: 2px;
  }
  &__title {
    margin: 0;
    margin-bottom: 25px;
  }
  &__text {
    margin: 0;
    margin-bottom: 75px;

    font-size: 28px;
  }
  &__button {
    display: inline-block;
    padding: 25px 66px;

    background: #710707;
    border-radius: 10px;

    transition: background-color 0.3s;

    &:hover {
      background-color: #9D8665;
    }
  }
  &__slider-wrapper {
    max-width: 1000px;
    margin-left: -160px;
  }
}

.welcome-slider {

  &__pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    padding: 46px 75px;

    background-color: #030303;

    transform: translateY(50%);
  }

  &__fraction {
    span {
      margin: 0 5px;
    }
  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    display: flex;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      width: 30px;
      height: 8px;

      stroke: #ffffff;

      transition: stroke 0.3s;
    }

    &:hover {
      svg {
        stroke: #9D8665;
      }
    }
  }

  &__arrow-next {
    margin-left: 20px;

    svg {
      transform: rotate(180deg);
    }
  }
}

.slider-dots {
  display: flex;

  &__dot {
    width: 16px;
    height: 16px;

    border: none;
    background-color: #ffffff;

    transition: background-color 0.3s;

    &:not(:last-child) {
      margin-right: 25px;

      cursor: pointer;
    }

    &.active {
      background-color: #D2B183;
    }

    &:hover {
      background-color: #9D8665;
    }
  }
}

.virtual-tours {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 75px 60px;
  }
}

.tour-card {
  display: block;

  font-weight: 200;

  &:hover {
    .tour-card__title::after {
      width: 100%;
    }
  }

  &__img {
    margin-bottom: 25px;
  }

  &__title {
    position: relative;

    padding: 0 0 12px;
    margin: 0;

    font-family: 'Forum', cursive;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      height: 2px;
      width: 68%;

      background-color: #710707;

      transition: width 0.4s ease-in-out;
    }
  }

  &__subtitle {
    margin: 10px 0;
  }

  &__description {
    margin: 0;

    font-size: 18px;
  }
}

.picture-explore {
  &__img {
    margin-top: 15px;
  }
}

.video-section {

  &__video {
    margin-bottom: 40px;
  }
}

.video {
  position: relative;

  height: 735px;

  &__poster {
    width: 100%;
  }

  &__control-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.video-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 30px;

  background-color: #030303;

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__button {
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      fill: #B3B3B3;

      transition: all 0.3s;
    }

    &:hover {
      svg {
        fill: #989898;
      }
    }
  }

  &__range {
    background: linear-gradient(to right, #710707 50%, #C4C4C4 50%);
  border: none;
  border-radius: 0;
  height: 8px;
  width: 400px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;

    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;

      border-radius: 50%;
      -webkit-appearance: none;
      background: #FFFFFF;
    }
  }

  &__progress {
    flex-grow: 1;
  }

  &__volume {
    max-width: 155px;
  }
}

.video-slider {
  &__wrapper {
    margin-bottom: 40px;
  }

  &__slide {
    height: 254px;
    max-width: 452px;
    margin-right: 42px;

    iframe {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dots {
    margin: 0 20px;
  }

  &__dot {
    width: 12px;
    height: 12px;

    background-color: #999999;
    border: none;
    border-radius: 50%;

    transition: background 0.3s;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.active {
      background-color: #333333;
    }

    &:hover {
      background-color: #710707;
    }
  }

  &__arrow {
    display: flex;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      fill: #999999;

      transition: fill 0.3s;
    }

    &:hover {
      svg {
        fill: #710707;
      }
    }
  }

  &__arrow-next {
    svg {
      transform: rotate(180deg);
    }
  }
}

.video-slide {
  iframe {
    border: none;
  }
}

.gallery {
  &__container {
    position: relative;

    max-height: 1960px;

    overflow: hidden;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 360px;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);;
    }
  }

  &__inner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px 36px;
    height: 3044px;
  }

  &__img {
    width: calc(33% - 24px);
    &:first-child {
      margin-top: 50px;
    }
  }
}

.tickets-buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    margin: 0;
    margin-bottom: 50px;

    font-size: 28px;

    &--right {
      text-align: right;
      margin-bottom: 25px;
    }
  }

  &__radio {
    &:not(:disabled):not(:checked) + label:hover span::after {
      opacity: 0.5;
    }

    &:not(:disabled):active + label span::after {
      opacity: 0.9;
    }

    &:focus + label span {
      box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
    }

    &:checked + label span::after {
      opacity: 1;
    }

    &:disabled + label span {
      opacity: 0.7;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    user-select: none;

    span {
      position: relative;

      box-sizing: border-box;
      width: 17px;
      height: 17px;
      margin-right: 23px;

      border: 2px solid #000000;
      border-radius: 50%;

      &::after {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;

        width: 7px;
        height: 7px;

        border-radius: 50%;
        background-color: #000000;
        opacity: 0;

        transform: translate(-50%, -50%);

        transition: opacity 0.3s;
      }
    }
  }

  &__amount {
    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &__amount-label {
    display: block;
    margin-bottom: 17px;
  }

  &__total {
    width: 100%;
    margin: 40px 0 60px;

    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.65px;
    text-align: right;
  }

  &__button {
    min-height: 50px;
    padding: 5px 37px;
    margin-left: auto;

    color: #ffffff;
    font-weight: 300;
    letter-spacing: 2px;

    border: none;
    background-color: #000000;
    
    cursor: pointer;

    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: #000000;

      background-color: #9D8665;
    }
  }
}

.amount {
  width: 150px;
  display: flex;

  * {
    box-sizing: border-box;
    height: 50px;
  }

  &__button {
    width: 40px;

    font-size: 32px;
    font-weight: 400;

    background-color: transparent;
    border: 3px solid #000000;

    cursor: pointer;
  }

  &__minus {
    border-right: none;
  }

  &__plus {
    border-left: none;
  }

  &__field {
    text-align: center;
    width: 70px;

    border: none;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;

    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  &--booking {
    margin: 0;
    width: 105px;

    * {
      height: 25px;
    }

    .amount__button {
      width: 35px;

      font-size: 18px;
      color: #ffffff;

      background-color: #030303;
      border: none;
    }

    .amount__field {
      width: 35px;

      font-size: 18px;

      border: 1px solid #030303;
    }
  }
}

.paralax {
  height: 400px;

  background-image: url(../assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  padding-top: 75px;
}

.footer-top {
  padding-bottom: 38px;

  border-bottom: 3px solid #666666;
  &__grid {
    display: grid;
    grid-template-columns: minmax(200px, 295px) 510px 1fr;
    grid-template-rows: repeat(3, 50px);
    grid-column-gap: 45px;
    justify-items: start;
  }

  &__menu {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    justify-self: stretch;
  }

  &__social {
    grid-row: 2 / 4;
    grid-column: -2 / -1;
    align-self: center;
    justify-self: end;
  }
}

.footer-menu {

  font-weight: 100;
  letter-spacing: 2px;

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-auto-rows: 50px;
    align-items: center;

    list-style: none;
  }

  &__link {
    transition: color 0.3s;
    &:hover {
      color: #9D8665;
    }
    &:active {
      color: #7E6C51;
    }
  }
}

.social {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 25px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;

    border: 1px solid #666666;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 0px #666666);

    transition: border-color 0.3s;

    svg {
      fill: #ffffff;

      transition: fill 0.3s;
    }

    &:hover {
      border-color: #9D8665;
      svg {
        fill: #9D8665;
      }
    }
  }
}

.footer-bottom {
  padding: 50px 0;

  font-weight: 100;
  letter-spacing: 2px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  align-items: center;

  color: #030303;

  visibility: hidden;
  transform: translate(-100%);

  transition: all 0.3s;

  &.active {
    visibility: visible;
    transform: translate(0);
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-color: rgba(#000000, 0.8);
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 2;

    width: 27px;
    height: 27px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      pointer-events: none;

      stroke: #030303;

      transition: stroke 0.3s;
    }

    &:hover {
      svg {
        stroke: #9D8665;
      }
    }
  }

  &__container {
    position: relative;

    flex-grow: 1;
  }

  &__wrapper {
    padding: 90px 0;
    display: flex;
    justify-content: center;

    background-color: #ffffff;
  }

  &__column {
    flex-grow: 1;

    &--first {
      max-width: 400px;
      margin-right: 40px;
    }

    &--second {
      box-sizing: border-box;
      max-width: 530px;

      border: 1px solid #030303;
    }
  }

  &__logo-img {
    display: block;

    fill: #9D8665;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;

    color: #9D8665;
    font-family: 'Forum', cursive;
    font-size: 50px;
    line-height: 55px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__subtitle {
    position: relative;

    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 60px;

    color: #710707;
    font-size: 18px;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 3px;

      background-color: #740C11;
    }
  }
}

.booking-form {
  display: flex;
  flex-wrap: wrap;

  font-size: 18px;
  font-weight: 400;

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    border: 1px solid #030303;
    background-repeat: no-repeat;
    background-position: 15px center; 

    &--date {
      background: url('../assets/svg/date.svg') no-repeat 15px center, url('../assets/svg/arrow.svg') no-repeat right 14px center;

      &:focus {
        background: url('../assets/svg/date.svg') no-repeat 15px center, url('../assets/svg/arrow-reverse.svg') no-repeat right 14px center;
      }
    }

    &--time {
      background: url('../assets/svg/time.svg') no-repeat 15px center, url('../assets/svg/arrow.svg') no-repeat right 14px center;
      
      &:focus {
        background: url('../assets/svg/time.svg') no-repeat 15px center / 15px 11px, url('../assets/svg/arrow-reverse.svg') no-repeat right 14px center;
      }
    }

    &--name {
      background-image: url('../assets/svg/name.svg');
    }

    &--email {
      background-image: url('../assets/svg/email.svg');
    }

    &--phone {
      background-image: url('../assets/svg/tel.svg');
    }

    &--select {
      background-image: url('../assets/svg/ticket.svg');
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: url('../assets/svg/ticket.svg') no-repeat 15px center, url('../assets/svg/arrow.svg') no-repeat right 14px center;
      
      &:focus {
        background: url('../assets/svg/ticket.svg') no-repeat 15px center / 15px 11px, url('../assets/svg/arrow-reverse.svg') no-repeat right 14px center;
      }
    }
  }

  &__item {
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  &__column {
    width: calc(50% - 10px);

    &:first-child {
      margin-right: 20px;
    }
  }

  &__row {
    width: 100%;
  }

  ::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 0;
  }

  &__tickets {
    width: 100%;
    padding: 10px 15px 15px;

    border: 1px solid #030303;
  }

  &__tickets-title {
    position: relative;

    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;

    font-family: 'Forum', cursive;
    color: #9D8665;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 2px;

      background-color: #740C11;
    }
  }

  &__amount-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) .amount {
      margin-bottom: 18px;
    }
  }
}

.remove-label {
  position: relative;

  label {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 47px;

    min-width: 95px;

    background-color: #ffffff;

    transform: translateY(-50%);
  }
}

.modal-overview {
  padding: 25px 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    margin-bottom: 7px;

    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #272727;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;

    font-weight: 500;
    color: #740C11;

    opacity: 0.9;
  }

  &__selected {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 300;
  }

  &__selected-item {
    position: relative;

    margin: 0;
    margin-bottom: 5px;
    padding-left: 30px;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      width: 15px;

      background-repeat: no-repeat;
      background-position: 0 center;
    }
  }

  &__date::before {
    background-image: url('../assets/svg/date.svg');
  }

  &__time::before {
    background-image: url('../assets/svg/time.svg');
  }

  &__ticket::before {
    background-image: url('../assets/svg/check.svg');
  }

  &__tickets {
    margin-bottom: 12px;
    padding-bottom: 8px;
    
    border-bottom: 2px solid #740C11;
  }

  &__total {
    display: flex;
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    span {
      margin-left: auto;
    }
  }
}

.tickets-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  font-weight: 400;

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 20px;
    margin-right: 10px;

    font-size: 18px;
    color: #a4a4a4;

    background-color: #030303;
    border-radius: 4px;
  }

  &__summ {
    margin-left: auto;
  }
}

.card {
  position: relative;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #161615;

  &__front {
    position: relative;
    z-index: 10;

    box-sizing: border-box;
    width: 360px;
    padding: 15px 20px;
    margin-bottom: 48px;

    background-color: #bcbcbc;
  }

  &__title {
    display: block;
    margin-bottom: 5px;

    &--cvv {
      text-align: center;
    }
  }

  &__input {
    box-sizing: border-box;
    height: 35px;
    padding: 10px;
    margin-bottom: 10px;

    border: 0.5px solid #a4a4a4;
  }

  &__number-input {
    width: 215px;
  }

  &__month-input,
  &__year-input {
    width: 100px;
  }

  &__month-input {
    margin-right: 15px;
  }

  &__name-input {
    width: 100%;
  }

  &__images {
    position: absolute;
    top: 34px;
    right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    img:first-child {
      margin-bottom: 15px;
    }
  }

  &__back {
    position: absolute;
    top: 30px;
    right: 0;

    box-sizing: border-box;
    padding: 85px 20px 15px;
    width: 360px;
    height: 211px;
    display: flex;
    justify-content: flex-end;

    background-color: #939393;

    &::before {
      content: '';

      position: absolute;
      left: 0;
      right: 0;
      top: 25px;
      height: 45px;

      background-color: #161615;
    }
  }

  &__cvv-input {
    width: 75px;
  }

  &__cvv-description {
    display: block;
    max-width: 55px;
    margin: 0 auto;

    font-size: 10px;
    line-height: 12px;
  }

  &__button {
    display: block;
    width: 220px;
    height: 45px;
    margin-left: auto;

    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;

    background: #710707;
    border: none;
    opacity: 0.9;

    cursor: pointer;

    transition: background-color 0.3s;

    &:hover {
      background-color: #9D8665;
    }
  }
}