@import url(_normalize.scss);
@import url(_fonts.scss);
@import url(_global.scss);

.header {
  padding: 59px 0;

  font-weight: 200;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
  }
}

.burger {
  $b: &;

  position: relative;

  padding: 0;
  width: 32px;
  height: 32px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &::after,
  &::before {
    content: '';
  }

  &::before,
  &::after,
  &__line {
    position: absolute;
    left: 0;

    height: 2px;
    width: 32px;

    background-color: #ffffff;

    transform-origin: left;

    transition: all 0.3s;
  }

  &::before {
    top: 7px;
  }

  &::after {
    bottom: 7px;
  }

  &__line {
    top: 50%;

    transform: translateY(-50%);
  }

  .header.active & {
    #{$b}__line {
      opacity: 0;
    }

    &::after {
      bottom: 50%;
      left: 50%;
      transform: rotate(-45deg) translate(-50%, 50%);
    }

    &::before {
      top: 50%;
      left: 50%;
      transform: rotate(45deg) translate(-50%, -50%);
    }
  }
}

.logo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  font-family: 'Forum', cursive;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  &__img {
    margin-right: 25px;
    
    fill: #ffffff;
  }
}

.header-nav {
  letter-spacing: 2px;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    
    &:not(:last-child) {
      margin-right: 56px;
    }
  }

  &__link {
    transition: color 0.3s;
    &:hover {
      color: #9D8665;
    }
    &:active {
      color: #7E6C51;
    }
  }

  &__imgs-wrapper {
    display: none;
  }

  &__social {
    display: none;
  }
}

.section {
  padding: 75px 0;

  &--welcome {
    padding: 0 0 60px;
  }

  &--even {
    color: #000000;

    background-color: #ffffff;

    .section-title {
      color: #9D8665;
    }
  }

  &--gallery {
    padding-bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    row-gap: 60px;

    &--vertical-centre {
      align-items: center;
    }
  }

  &__column {
    box-sizing: border-box;

    &--first {
      margin-right: 60px;
    }

    &--bigger {
      width: 50%;
      flex-shrink: 0;
    }

    &--tickets-img {
      min-width: 700px;
    }

    &--tickets {
      flex-grow: 1;
    }

    &--map {
      max-width: 960px;
      flex-grow: 1;
    }
  }

  &__text {


    line-height: 38px;
    span {
      color: #caaa7d;
    }

    p {
      margin: 0;
      margin-bottom: 25px;
    }

    &--padding {
      padding-top: 10px;
    }
  }

  &__contacts {
    h3 {
      margin: 0;
      margin-bottom: 50px;

      font-size: 28px;
      font-weight: 500;
    }

    address {
      font-style: normal;
    }

    p {
      margin: 25px 0;
    }

    a {
      transition: color 0.3s;

      &:hover {
        color: #9d8665;
      }

      &:active {
        color: #7E6C51;
      }
    }
  }

  &__map-wrapper {
    position: relative;

    padding-top: 64.5%;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    img {
      width: 100%;
    }
  }
}

.section-title {
  margin: 0;
  margin-bottom: 75px;

  font-family: 'Forum', cursive;
  font-size: 80px;
  line-height: 90px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;

  &--underline {
    position: relative;

    padding-bottom: 30px;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      
      height: 3px;
      margin: 0;

      background-color: #710707;
    }
  }
}

.welcome-section {
  &__inner {
    display: flex;
  }
  &__body {
    position: relative;
    z-index: 5;

    max-width: 600px;
    width: 100%;
    padding-top: 150px;
    
    letter-spacing: 2px;

    pointer-events: none;

    transition: opacity 0.3s;
  }
  &__title {
    margin: 0;
    margin-bottom: 25px;
  }
  &__text {
    margin: 0;
    margin-bottom: 75px;

    font-size: 28px;
  }
  &__button {
    display: inline-block;
    padding: 25px 66px;

    background: #710707;
    border-radius: 10px;

    pointer-events: all;

    transition: background-color 0.3s;

    &:hover {
      background-color: #9D8665;
    }
  }
  &__slider-wrapper {
    max-width: 1000px;
    width: calc(100% - 440px);
    margin-left: -160px;
  }
}

.welcome-slider {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);

    pointer-events: none;
  }

  &__pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    padding: 46px 75px;

    background-color: #030303;

    transform: translateY(50%);
  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    display: flex;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      width: 30px;
      height: 8px;

      stroke: #ffffff;

      transition: stroke 0.3s;
    }

    &:hover {
      svg {
        stroke: #9D8665;
      }
    }
  }

  &__arrow-next {
    margin-left: 20px;

    svg {
      transform: rotate(180deg);
    }
  }
}

.slider-fraction {
  &__current {
    margin-right: 5px;
  }

  &__total {
    margin-left: 5px;
  }
}

.slider-dots {
  display: flex;

  &__dot {
    width: 16px;
    height: 16px;

    border: none;
    background-color: #ffffff;

    transition: background-color 0.3s;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 25px;
    }

    &--active {
      background-color: #D2B183;
    }

    &:hover {
      background-color: #9D8665;
    }
  }
}

.virtual-tours {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 75px 60px;
  }
}

.tour-card {
  display: flex;
  flex-direction: column;

  font-weight: 200;

  &:hover {
    .tour-card__title::after {
      width: 100%;
    }
  }

  &__img {
    margin-bottom: 25px;
    height: auto;
  }

  &__title {
    position: relative;

    padding: 0 0 12px;
    margin: 0;
    flex-grow: 1;

    font-family: 'Forum', cursive;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      height: 2px;
      width: 68%;

      background-color: #710707;

      transition: width 0.4s ease-in-out;
    }
  }

  &__subtitle {
    margin: 10px 0;
  }

  &__description {
    margin: 0;

    font-size: 18px;
  }
}

.picture-compare {
  position: relative;

  margin-top: 15px;

  &__before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 61.2%;
    height: 100%;

    overflow: hidden;
  }

  &__img-before {
    max-width: none;
  }

  &__drag {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(61.2% - 19.5px);
    z-index: 10;

    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: transparent;
    border: none;

    &::before,
    &::after {
      content: '';

      width: 5px;
      flex-grow: 1;

      background-color: #ffffff;
    }
  }

  &__circle {
    width: 29px;
    height: 29px;

    border: 5px solid #ffffff;
    border-radius: 50%;
  }
}

.video-section {

  &__video {
    margin-bottom: 40px;
  }
}

.video {
  $this: &;

  &__container {
    position: relative;

    padding-top: 45.1%;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;

    height: 101%;
    width: 100%;

    object-fit: cover;

    cursor: pointer;
  }

  &__playbackRate {
    position: absolute;
    top: 20%;
    left: 50%;

    padding: 5px 10px;
    
    color: #ffffff;

    background-color: rgba(#000000, 0.6);

    transform: translate(-50%);
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;

    background: transparent;
    border: none;

    transform: translate(-50%, -50%);

    cursor: pointer;

    pointer-events: none;

    transition: opacity 0.5s ease-out;

    svg {
      fill: #ffffff;

      transition: fill 0.3s;
    }

    &.video-played {
      opacity: 0;
    }
  }

  &:hover {
    .video__play svg {
      fill: #9D8665;
    }
  }

  &--fullscreen {
    #{$this} {
      &__container {
        padding: 0;
      }

      &__media {
        position: static;

        object-fit: contain;
      }
    }
  }
}

.video-control {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 30px;

  background-color: #030303;

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__button {
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      fill: #B3B3B3;

      transition: all 0.3s;
    }

    &:hover {
      svg {
        fill: #989898;
      }
    }
  }

  &__range {
    background: linear-gradient(to right, #710707 50%, #C4C4C4 50%);
    border: none;
    border-radius: 0;
    height: 8px;
    width: 400px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;

      border-radius: 50%;
      -webkit-appearance: none;
      background: #FFFFFF;
    }
  }

  &__progress {
    background: linear-gradient(to right, #710707 0%, #C4C4C4 0%);
    flex-grow: 1;
  }

  &__volume {
    max-width: 155px;
  }
}

.video-slider {
  &__slider {
    margin-bottom: 40px;
  }

  &__slide {
    max-width: 452px;

    iframe {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dots {
    margin: 0 20px;
  }

  &__dot {
    width: 12px;
    height: 12px;

    background-color: #999999;
    border: none;
    border-radius: 50%;

    transition: background 0.3s;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--active {
      background-color: #333333;
    }

    &:hover {
      background-color: #710707;
    }
  }

  &__arrow {
    display: flex;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      fill: #999999;

      transition: fill 0.3s;
    }

    &:hover {
      svg {
        fill: #710707;
      }
    }
  }

  &__arrow-next {
    svg {
      transform: rotate(180deg);
    }
  }
}

.youtube-video {
  position: relative;

  height: 0;
  padding-top: 56.2%;

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    display: none;

    border: none;
    background-color: transparent;

    transform: translate(-50%, -50%);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__button-shape {
    fill: #212121;
    fill-opacity: 0.8;

    transition: fill 0.1s;
  }

  &__button-icon {
    fill: #ffffff;
  }

  &:hover &__button-shape,
  &__button:focus &__button-shape {
    fill: #ff0000;
    fill-opacity: 1;
  }

  &--enabled {
    cursor: pointer;
    .youtube-video__button {
      display: block;
    }
  }
}

.gallery {
  &__container {
    position: relative;

    max-height: 1960px;

    overflow: hidden;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 360px;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px 18px;
    height: 3044px;

    &::after,
    &::before {
      content: '';
      order: 2;
      width: 0;
      height: 100%;
    }
  }

  &__img {
    width: calc(100% / 3 - 24px);
    &:first-child,
    &:nth-child(3) {
      margin-top: 50px;
    }

    &:nth-child(1n) {
      order: 1;
    }

    &:nth-child(2n) {
      order: 2;
    }

    &:nth-child(3n) {
      order: 3;
    }
  }
}

.slide-up {
  transform: translateY(50px) scale(0.95);
  opacity: 0;

  transition: all 0.5s ease-out;

  &.active {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.tickets-buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    margin: 0;
    margin-bottom: 50px;

    font-size: 28px;

    &--right {
      text-align: right;
      margin-bottom: 25px;
    }
  }

  &__radio {
    &:not(:disabled):not(:checked) + label:hover span::after {
      opacity: 0.5;
    }

    &:not(:disabled):active + label span::after {
      opacity: 0.9;
    }

    &:focus + label span {
      box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
    }

    &:checked + label span::after {
      opacity: 1;
    }

    &:disabled + label span {
      opacity: 0.7;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    user-select: none;

    span {
      position: relative;

      box-sizing: border-box;
      width: 17px;
      height: 17px;
      margin-right: 23px;

      border: 2px solid #000000;
      border-radius: 50%;

      &::after {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;

        width: 7px;
        height: 7px;

        border-radius: 50%;
        background-color: #000000;
        opacity: 0;

        transform: translate(-50%, -50%);

        transition: opacity 0.3s;
      }
    }
  }

  &__amount {
    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &__amount-label {
    display: block;
    margin-bottom: 17px;
  }

  &__total {
    width: 100%;
    margin: 40px 0 60px;

    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.65px;
    text-align: right;
  }

  &__button {
    min-height: 50px;
    padding: 5px 37px;
    margin-left: auto;

    color: #ffffff;
    font-weight: 300;
    letter-spacing: 2px;

    border: none;
    background-color: #000000;
    
    cursor: pointer;

    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: #000000;

      background-color: #9D8665;
    }
  }
}

.amount {
  width: 150px;
  display: flex;

  * {
    box-sizing: border-box;
    height: 50px;
  }

  &__button {
    width: 40px;

    font-size: 32px;
    font-weight: 400;

    background-color: transparent;
    border: 3px solid #000000;

    cursor: pointer;
  }

  &__minus {
    border-right: none;
  }

  &__plus {
    border-left: none;
  }

  &__field {
    width: 70px;

    font-size: 22px;
    text-align: center;

    border: none;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;

    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  &--booking {
    margin: 0;
    width: 105px;

    * {
      height: 25px;
    }

    .amount__button {
      width: 35px;

      font-size: 18px;
      color: #ffffff;

      background-color: #030303;
      border: none;
    }

    .amount__field {
      width: 35px;

      font-size: 18px;

      border: 1px solid #030303;
    }
  }
}

.paralax {
  height: 400px;

  background-image: url(../assets/img/parallax.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer {
  padding-top: 75px;
}

.footer-top {
  padding-bottom: 38px;

  border-bottom: 3px solid #666666;
  &__grid {
    display: grid;
    grid-template-columns: minmax(200px, 295px) minmax(360px, 510px) 1fr;
    grid-template-rows: repeat(3, 50px);
    grid-column-gap: 45px;
    justify-items: start;
  }

  &__menu {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    justify-self: stretch;
  }

  &__social {
    grid-row: 2 / 4;
    grid-column: -2 / -1;
    align-self: center;
    justify-self: end;
    margin-top: 15px;
  }
}

.footer-menu {

  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-template-rows: repeat(3, 50px);
    grid-auto-flow: column;
    align-items: center;

    list-style: none;
  }

  &__link {
    transition: color 0.3s;
    &:hover {
      color: #9D8665;
    }
    &:active {
      color: #7E6C51;
    }
  }
}

.social {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 25px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;

    border: 1px solid #666666;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 0px #666666);

    transition: border-color 0.3s;

    svg {
      fill: #ffffff;

      transition: fill 0.3s;
    }

    &:hover {
      border-color: #9D8665;
      svg {
        fill: #9D8665;
      }
    }
  }
}

.footer-bottom {
  padding: 50px 0;

  font-weight: 100;
  letter-spacing: 2px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 100;

  display: flex;
  width: 100%;
  align-items: center;

  color: #030303;

  visibility: hidden;

  transition: all 0.5s ease-out;

  &.active {
    left: 0;

    visibility: visible;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-color: rgba(#000000, 0.8);
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 2;

    width: 27px;
    height: 27px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      pointer-events: none;

      stroke: #030303;

      transition: stroke 0.3s;
    }

    &:hover {
      svg {
        stroke: #9D8665;
      }
    }
  }

  &__container {
    flex-grow: 1;
    max-height: 100vh;

    overflow-y: auto;
  }

  &__wrapper {
    position: relative;

    box-sizing: border-box;
    padding: 90px 0;
    display: flex;
    justify-content: center;

    background-color: #ffffff;
  }

  &__column {
    flex-grow: 1;

    &--first {
      max-width: 400px;
      margin-right: 40px;
    }

    &--second {
      box-sizing: border-box;
      max-width: 530px;

      border: 1px solid #030303;
    }
  }

  &__logo-img {
    display: block;

    fill: #9D8665;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;

    color: #9D8665;
    font-family: 'Forum', cursive;
    font-size: 50px;
    line-height: 55px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__subtitle {
    position: relative;

    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 60px;

    color: #710707;
    font-size: 18px;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 3px;

      background-color: #740C11;
    }
  }
}

.booking-form {
  display: flex;
  flex-wrap: wrap;

  font-size: 18px;
  font-weight: 400;

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    border: 1px solid #030303;
    background-repeat: no-repeat;
    background-position: 15px center; 

    &--date {
      background: url('../assets/svg/date.svg') no-repeat 15px center, url('../assets/svg/arrow.svg') no-repeat right 14px center;

      &:focus {
        background: url('../assets/svg/date.svg') no-repeat 15px center, url('../assets/svg/arrow-reverse.svg') no-repeat right 14px center;
      }
    }

    &--time {
      background: url('../assets/svg/time.svg') no-repeat 15px center, url('../assets/svg/arrow.svg') no-repeat right 14px center;
      
      &:focus {
        background: url('../assets/svg/time.svg') no-repeat 15px center / 15px 11px, url('../assets/svg/arrow-reverse.svg') no-repeat right 14px center;
      }
    }

    &--name {
      background-image: url('../assets/svg/name.svg');
    }

    &--email {
      background-image: url('../assets/svg/email.svg');
    }

    &--phone {
      background-image: url('../assets/svg/tel.svg');
    }

    &--select {
      background-image: url('../assets/svg/ticket.svg');
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: url('../assets/svg/ticket.svg') no-repeat 15px center, url('../assets/svg/arrow.svg') no-repeat right 14px center;
      
      &:focus {
        background: url('../assets/svg/ticket.svg') no-repeat 15px center / 15px 11px, url('../assets/svg/arrow-reverse.svg') no-repeat right 14px center;
      }
    }
  }

  &__item {
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  &__column {
    width: calc(50% - 10px);

    &:first-child {
      margin-right: 20px;
    }
  }

  &__row {
    width: 100%;
  }

  ::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 0;
  }

  &__tickets {
    width: 100%;
    padding: 10px 15px 15px;

    border: 1px solid #030303;
  }

  &__tickets-title {
    position: relative;

    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;

    font-family: 'Forum', cursive;
    color: #9D8665;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 2px;

      background-color: #740C11;
    }
  }

  &__amount-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) .amount {
      margin-bottom: 18px;
    }
  }
}

.validate-input {
  &.invalid {
    color: red;

    border-color: red;
  }
}

.validate-error {
  margin-bottom: 20px;
  padding: 0 10px;

  color: red;
  font-size: 14px;
}

.remove-label {
  position: relative;

  label {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 47px;

    min-width: 95px;

    background-color: #ffffff;

    transform: translateY(-50%);
  }
}

.modal-overview {
  padding: 24px 29px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    margin-bottom: 2px;

    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #272727;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;

    font-size: 22px;
    font-weight: 500;
    color: #740C11;

    opacity: 0.9;
  }

  &__selected {
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 300;
  }

  &__selected-item {
    position: relative;

    margin: 0;
    margin-bottom: 5px;
    padding-left: 30px;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      width: 15px;

      background-repeat: no-repeat;
      background-position: 0 center;
    }
  }

  &__date::before {
    background-image: url('../assets/svg/date.svg');
  }

  &__time::before {
    background-image: url('../assets/svg/time.svg');
  }

  &__ticket::before {
    background-image: url('../assets/svg/check.svg');
  }

  &__tickets {
    margin-bottom: 9px;
    padding-bottom: 8px;
    
    border-bottom: 2px solid #740C11;
  }

  &__total {
    display: flex;
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    span {
      margin-left: auto;
    }
  }
}

.tickets-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  font-size: 22px;
  font-weight: 400;

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 20px;
    margin-right: 10px;

    font-size: 18px;
    color: #a4a4a4;

    background-color: #030303;
    border-radius: 4px;
  }

  &__title {
    font-size: 22px;
  }

  &__summ {
    margin-left: auto;
  }
}

.card {
  position: relative;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #161615;

  &__front {
    position: relative;
    z-index: 10;

    box-sizing: border-box;
    width: 360px;
    padding: 15px 20px;
    margin-bottom: 45px;

    background-color: #bcbcbc;
  }

  &__title {
    display: block;
    margin-bottom: 5px;

    &--cvv {
      text-align: center;
    }
  }

  &__input {
    box-sizing: border-box;
    height: 35px;
    padding: 10px;
    margin-bottom: 10px;

    border: 0.5px solid #a4a4a4;
  }

  &__number-input {
    width: 215px;
  }

  &__month-input,
  &__year-input {
    width: 100px;
  }

  &__month-input {
    margin-right: 15px;
  }

  &__name-input {
    width: 100%;
  }

  &__images {
    position: absolute;
    top: 34px;
    right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    img:first-child {
      margin-bottom: 15px;
    }
  }

  &__back {
    position: absolute;
    top: 30px;
    right: 0;

    box-sizing: border-box;
    padding: 85px 20px 15px;
    width: 360px;
    height: 211px;
    display: flex;
    justify-content: flex-end;

    background-color: #939393;

    &::before {
      content: '';

      position: absolute;
      left: 0;
      right: 0;
      top: 25px;
      height: 45px;

      background-color: #161615;
    }
  }

  &__cvv-input {
    width: 75px;
  }

  &__cvv-description {
    display: block;
    max-width: 55px;
    margin: 0 auto;

    font-size: 10px;
    line-height: 12px;
  }

  &__button {
    display: block;
    width: 220px;
    height: 45px;
    margin-left: auto;

    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;

    background: #710707;
    border: none;
    opacity: 0.9;

    cursor: pointer;

    transition: background-color 0.3s;

    &:hover {
      background-color: #9D8665;
    }
  }
}

.up-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;

  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #710707;
  border-radius: 50%;
  border-color: transparent;
  opacity: 0;
  visibility: hidden;

  cursor: pointer;

  transition: all 0.4s;

  svg {
    stroke: #ffffff;
    
    pointer-events: none;
  }

  &.show {
    visibility: visible;
    opacity: 0.5;
  }

  &:hover {
    opacity: 0.9;
  }
}

@media (max-width: 1440px) {
  .header-nav {
    &__item {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }

  .section {
    padding: 55px 0;

    &--welcome {
      padding: 0 0 65px;
    }

    &--gallery {
      padding-bottom: 0;
    }
  }

  .video-section {
    padding-bottom: 60px;
  }

  .tour-card {
    &__title {
      font-size: 28px;
      letter-spacing: 3px;
    }
  }
}

@media (max-width: 1368px) {
  .section-title {
    margin-bottom: 60px;

    font-size: 65px;

    &--underline {
      padding-bottom: 12px;
    }
  }

  .welcome-section {
    &__body {
      padding-top: 100px;

      max-width: 500px;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__text {
      margin-bottom: 50px;

      font-size: 26px;
    }

    &__button {
      padding: 18.5px 45px;

      font-size: 20px;
    }

    &__slider-wrapper {
      width: calc(100% - 340px);
    }
  }

  .section {
    $s: &;

    &__inner--explore {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 58px;

      #{$s}__column--first {
        width: 100%;
        margin-right: 0;
      }

      #{$s}__column--bigger {
        width: auto;
        flex-shrink: 1;
      }
    }

    &__text {
      p {
        margin-bottom: 0;
      }
    }

    &__column--tickets {
      flex-grow: 0;
    }

    &__column--tickets-img {
      width: auto;
      min-width: auto;
      flex-shrink: 1;
    }

    &__contacts {
      margin-right: 37px;
    }
  }

  .picture-compare {
    margin: 0;
  }

  .picture-explore {
    padding: 55px 0 60px;

    p:last-of-type {
      display: none;
    }
  }

  .video-section {
    .section-title {
      margin-bottom: 30px;
    }

    .section__column--bigger {
      display: none;
    }
  }

  .video {
    &__play {
      width: 164px;
      height: 164px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .video-control {
    padding: 15px 40px;

    svg {
      width: 100%;
      height: 100%;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }

    &__play {
      width: 23px;
      height: 30px;
    }

    &__mute {
      width: 28px;
      height: 20px;
    }

    &__volume {
      max-width: 143px;
    }

    &__fullscreen {
      width: 26px;
      height: 26px;
    }

    &__range {
      height: 5px;

      &::-webkit-slider-thumb {
        width: 13px;
        height: 13px;
      }
    }
  }

  .gallery {
    .section-title {
      margin-bottom: 52px;
    }

    &__container {
      max-height: 1265px;

      &::after {
        height: 240px;
      }
    }
  }

  .tickets-buy {
    display: flex;
    flex-direction: column;
    max-width: 175px;
    margin-right: 29px;

    &__ticket-type {
      display: none;
    }

    &__title {

      margin-bottom: 31px;

      &--right {
        text-align: left;
      }
    }

    &__amount {
      p {
        margin: 0;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    &__amount-label {
      margin-bottom: 10px;

      font-size: 22px;
    }

    &__total {
      margin: 25px 0 70px;

      text-align: left;
    }

    &__button {
      width: 175px;
    }
  }

  .amount {
    width: 175px;

    &__field {
      width: 75px;
    }

    &__button {
      width: 50px;
    }

    &--booking {
      width: 105px;
    }
  }

  .section__contacts {
    h3 {
      margin-bottom: 37px;

      font-size: 24px;
    }

    p {
      margin: 15px 0;
    }
  }

  .footer {
    padding-top: 60px;
  }

  .footer-top {
    padding-bottom: 33px;
    &__grid {
      grid-column-gap: 40px;
    }
  }

  .footer-menu {
    &__list {
      grid-column-gap: 45px;
    }
  }

  .modal {
    &__wrapper {
      padding: 75px 5px 30px;
      justify-content: space-between;
    }

    &__column--first {
      margin-right: 20px;
    }

    &__close {
      top: 28px;
      right: 13px;
    }
  }

  .modal-overview {
    &__selected {
      margin-bottom: 27px;
    }
  }

  .card {
    &__front {
      padding-bottom: 5px;
      margin-bottom: 55px;
    }
  }
}

@media (max-width: 1025px) {
  body {
    font-size: 20px;
  }

  .header {
    $h: &;

    position: relative;

    padding: 49px 0;

    &__burger {
      display: block;
    }

    &__nav {
      position: absolute;
      top: 100%;
      left: -300px;
      z-index: 10;

      visibility: hidden;

      transition: all 0.5s;
    }

    &.active {
      #{$h}__nav {
        left: 0;
        visibility: visible;
      }
    }
  }

  .header-nav {
    box-sizing: border-box;
    min-height: calc(100vh - 130px);
    width: 297px;
    padding: 35px 55px;

    font-size: 20px;

    background-color: #030303;

    &__list {
      flex-direction: column;
      align-items: stretch;
      width: fit-content;
    }

    &__item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 25px;
    }

    &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        content: '';

        width: 7px;
        height: 12px;
        margin-left: 17px;

        background: url('../assets/svg/menu-arrow.svg') no-repeat center;
      }
    }
  }
  .section-title {
    font-size: 50px;
  }

  .welcome-section {
    &__body {
      padding-top: 50px;

      max-width: 400px;

      &.menu-open {
        opacity: 0;
      }
    }

    &__text {
      margin-bottom: 50px;

      font-size: 24px;
    }

    &__button {
      padding: 18.5px 45px;
    }

    &__slider-wrapper {
      width: calc(100% - 290px);
      margin-left: -110px;
    }
  }

  .welcome-slider {
    &__pagination {
      bottom: -64px;

      height: 120px;
      width: 100%;
      justify-content: flex-end;

      transform: none;
    }

    &__dots {
      margin: 0 45px;
    }
  }

  .slider-dots {
    &__dot {
      width: 12px;
      height: 12px;
    }
  }

  .virtual-tours {
    &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      grid-gap: 0;
      row-gap: 56px;
    }

    &__tour {
      max-width: 330px;
    }
  }

  .tour-card {
    &__title {
      &::after {
        width: 150px;
      }
    }
  }

  .footer-top {
    &__grid {
      grid-template-columns: 200px minmax(300px, 510px) 1fr;
    }
  }
}

@media (max-width: 992px) {
  body {
    font-size: 18px;
  }

  .header-nav {
    left: -100%;

    min-height: calc(100vh - 130px);
    width: 100%;

    padding-top: 31px;

    &__list {
      margin-bottom: 35px;
    }

    &__imgs-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      padding-bottom: 34px;

      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    &__img-wrapper {
      &:first-child {
        grid-column: span 2;
      }
    }

    &__img {
      width: 100%;
    }

    &__social {
      margin-top: 35px;
      display: flex;
      justify-content: center;
    }
  }

  .section {
    padding: 42px 0;

    &--welcome {
      padding: 0;
    }

    &--gallery {
      padding-bottom: 0;
    }

    &__inner--explore {
      row-gap: 0;
    }

    &__contacts {
      margin-right: 0;
      width: 100%;

      h3 {
        margin-bottom: 40px;

        font-size: 20px;
      }
    }
  }

  .video-section {
    padding-bottom: 80px;
  }

  .section-title {
    margin-bottom: 40px;

    font-size: 40px;
    line-height: 60px;

    &--underline {
      padding-bottom: 22px;
    }
  }

  .welcome-section {
    text-align: center;
    &__inner {
      display: block;
    }

    &__body {
      max-width: none;
      padding: 0;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__text {
      margin-bottom: 46px;

      font-size: 20px;
    }

    &__button {
      display: none;
    }

    &__slider-wrapper {
      margin: 0;
      width: 100%;
    }
  }

  .welcome-slider {
    &::after {
      display: none;
    }

    &__pagination {
      position: static;

      padding: 0;
      height: 100px;
      justify-content: center;
    }

    &__fraction {
      font-size: 20px;
    }
  }

  .virtual-tours {
    &__grid {
      padding: 0 28px;
      row-gap: 0;
    }

    &__tour {
      width: calc(100% / 2 - 56px);
      margin: 0 28px;
      margin-bottom: 40px;
    }
  }

  .tour-card {
    &__img {
      margin-bottom: 19px;
    }

    &__title {
      padding: 0 0 6px;

      font-size: 22px;
    }

    &__description {
      font-size: 16px;
    }
  }

  .picture-explore {
    p {
      display: none;
    }
  }

  .video-section {
    .section-title {
      margin-bottom: 20px;
    }
  }

  .video{
    &__play {
      width: 90px;
      height: 90px;
    }
  }

  .video-control {
    position: relative;

    padding: 13px 30px;

    &__progress {
      position: absolute;
      top: -2px;
      left: 0;

      width: 100%;
    }

    &__volume {
      max-width: none;
      flex-grow: 1;
    }
  }

  .video-section {
    &__video {
      margin-bottom: 21px;
    }
  }

  .video-slider {
    &__slider {
      margin-bottom: 20px;
    }

    &__dot {
      width: 10px;
      height: 10px;

      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }

  .gallery {
    .section-title {
      margin-bottom: 39px;
    }

    &__container {
      max-height: 1080px;

      &::after {
        height: 235px;
      }
    }

    &__inner {
      height: 4000px;
      column-gap: 12px;

      &::after {
        display: none;
      }
    }

    &__img {
      width: calc(50% - 12px);
    }
  }

  .tickets-section {
    .section-title--underline {
      padding-bottom: 20px;
    }

    .section__inner {
      justify-content: flex-start;
    }
  }

  .tickets-buy {
    &__title {
      margin-bottom: 40px;
    }

    &__amount {
      p {
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }

    &__total {
      margin: 40px 0;
    }
  }

  .paralax {
    height: 300px;
  }

  .contacts-section {
    padding-bottom: 70px;
    .section__inner {
      flex-direction: column;
      row-gap: 26px;
    }
  }

  .footer {
    padding-top: 51px;
  }

  .footer-top {
    padding-bottom: 8px;
    &__grid {
      grid-template-columns: minmax(200px, 257px) 1fr;
      grid-template-rows: repeat(5, 48px);
    }

    &__social {
      grid-row: -3 / -1;
      grid-column: 2 / 3;
      justify-self: start;
    }
  }

  .footer-menu {
    font-size: 18px;

    &__list {
      grid-template-rows: repeat(3, 44px);
      grid-column-gap: 80px;
    }
  }

  .footer-bottom {
    padding-bottom: 40px;

    letter-spacing: 4px;
  }

  .modal {
    align-items: flex-start;

    &__container {
      padding: 0;
    }

    &__close {
      right: 33px;
    }

    &__wrapper {
      padding: 80px 30px 40px;
      margin: 0 auto;
      max-width: 590px;
      flex-direction: column;
    }

    &__column {
      max-width: none;
      margin: 0;
    }

    &__subtitle {
      padding-bottom: 14px;
      margin-bottom: 39px;
    }
  }

  .booking-form {
    &__column {
      width: calc(50% - 15px);

      &:first-child {
        margin-right: 30px;
      }
    }

    &__tickets {
      padding: 10px 14px 15px;
      margin-bottom: 50px;
    }

    &__tickets-title {
      padding-bottom: 4px;
    }

    &__amount-wrapper:not(:last-child) {
      margin-bottom: 18px;
      .amount {
        margin: 0;
      }
    }
  }

  .modal-overview {
    padding: 24px 15px;
  }
}

@media (max-width: 769px) {
  .header {
    padding: 39px 0;
  }

  .header-nav {
    min-height: calc(100vh - 110px);
  }
}

@media (max-width: 700px) {
  body {
    font-size: 16px;
  }

  .section {
    &__column--tickets-img {
      margin-right: 0;
      max-height: 275px;
      width: 100%;

      overflow: hidden;
      img {
        margin: 0 auto;
      }
    }
  }

  .virtual-tours {
    &__grid {
      padding: 0 15px;
    }

    &__tour {
      margin: 0 15px;
      width: calc(100% / 2 - 30px);
    }
  }

  .tour-card {
    &__title {
      padding: 0 0 10px;

      font-size: 18px;
      line-height: 20px;
    }
  }

  .picture-compare {
    &__drag {
      left: calc(61.2% - 10px);
      &::after,
      &::before {
        width: 2px;
      }
    }

    &__circle {
      width: 16px;
      height: 16px;

      border-width: 2px;
    }
  }

  .tickets-section {
    .section__inner {
      flex-direction: column;
      align-items: center;
      row-gap: 41px;
    }
  }

  .tickets-buy {
    margin: 0;

    &__title {
      margin-bottom: 21px;

      font-size: 16px;
      text-align: center;
    }

    &__amount-label {
      margin-bottom: 15px;

      font-size: 16px;
    }

    &__amount {
      p:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__total {
      font-size: 16px;
      letter-spacing: normal;
      text-align: center;
    }
  }

  .contacts-section {
    padding-bottom: 44px;
  }

  .footer {
    padding-top: 40px;
  }

  .footer-top{
    padding-bottom: 40px;
    &__grid {
      display: block;
    }

    &__logo-wrapper {
      margin-bottom: 25px;

      .logo__img {
        margin-right: 20px;
      }
    }

    &__menu {
      margin-bottom: 25px;
    }
  }

  .footer-menu {
    font-size: 16px;
    &__list {
      grid-column-gap: 30px;
      grid-template-columns: repeat(3, max-content);
      grid-template-rows: repeat(2, 48px );
      justify-content: space-between;
    }
  }

  .social {
    &__list {
      justify-content: center;
    }
  }

  .footer-bottom {
    padding-bottom: 30px;

    font-size: 16px;
    letter-spacing: 2px;

    &__rsschool {
      display: none;
    }
  }
}

@media (max-width: 560px) {
  .card {
    &__front {
      width: 330px;
      margin: 0 auto;
      margin-bottom: 25px;
    }

    &__back {
      position: relative;
      top: auto;
      right: auto;

      margin: 0 auto;
      width: 330px;
      margin-bottom: 43px;
    }
  }

  .modal-overview {
    &__inner {
      position: relative;

      img {
        position: absolute;
        top: 0;
        right: 0;
  
        width: 120px;
        height: 96px;
      }
    }
  }
}

@media (max-width: 500px) {

  .section {
    &__column--first {
      margin-right: 0;
    }

    &__contacts {
      h3 {
        font-size: 16px;
      }
    }
  }

  .section-title {
    font-size: 28px;
    line-height: 40px;

    &--underline {
      padding-bottom: 21px;
    }
  }

  .welcome-section {
    &__body {
      padding-top: 6px;
    }

    &__text {
      margin-bottom: 49px;

      font-size: 16px;
    }
  }

  .welcome-slider {
    &__pagination {
      height: 80px;
    }

    &__fraction {
      font-size: 16px;
    }

    &__dots {
      margin: 0 25px;
    }

    &__arrow {
      width: 20px;
      height: 8px;
    }

    &__arrow-next {
      margin-left: 15px;
    }
  }

  .slider-fraction {
    span {
      margin: 0;
    }
  }

  .slider-dots {
    &__dot {
      padding: 0;
      width: 7px;
      height: 7px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .virtual-tours {
    &__grid {
      padding: 0 50px;
      row-gap: 41px;
    }

    &__tour {
      max-width: none;
      width: 100%;
      margin: 0;
    }
  }

  .tour-card {
    &__img {
      margin-bottom: 24px;
    }

    &__title {
      padding: 0 0 12px;

      letter-spacing: 5px;
    }
  }

  .picture-explore {
    padding: 42px 0 37px;
  }

  .video-section {
    padding: 35px 0 39px;

    &__video {
      margin-bottom: 40px;
    }
  }

  .video {
    &__play {
      width: 62px;
      height: 62px;
    }
  }

  .video-control {
    padding: 21px 20px 17px;

    &__item {
      flex-shrink: 0;
    }

    &__range {
      height: 4px;

      &::-webkit-slider-thumb {
        width: 10px;
        height: 10px;
      }
    }

    &__progress {
      top: 1px;
    }

    &__play {
      width: 14px;
      height: 18px;
    }

    &__mute {
      width: 18px;
      height: 14px;
    }

    &__volume {
      max-width: 200px;
      flex-shrink: 1;
    }

    &__fullscreen {
      width: 18px;
      height: 18px;
    }
  }

  .video-slider {
    &__slider {
      margin-bottom: 40px;
    }

    &__arrow {
      svg {
        width: 7px;
        height: 8px;
      }
    }

    &__dot {
      width: 8px;
      height: 8px;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .gallery {
    &__container {
      height: 637px;

      &::after {
        height: 112px;
      }
    }
  }

  .modal {
    &__title {
      font-size: 32px;
      line-height: normal;
    }
  }

  .booking-form {
    &__column {
      width: 100%;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 421px) {
  .header {
    padding: 29px 0;
  }

  .logo {
    align-items: baseline;

    &__img {
      width: 29px;
      height: 16px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .header-nav {
    min-height: calc(100vh - 90px);
    padding-top: 35px;
    padding-bottom: 24px;

    &__imgs-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 12px;
      padding-bottom: 19px;
    }

    &__img-wrapper {
      position: relative;

      padding-top: 100%;

      &:first-child {
        grid-column: auto;
      }

      &:nth-child(2) {
        order: -1;
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      
      height: 100%;
    }

    &__social {
      margin-top: 24px;
    }

  }

  .social {
    &__item:not(:last-child) {
      margin-right: 5px;
    }
  }

  .card {
    &__front,
    &__back {
      width: 100%;
    }

    &__number {
      display: block;
      max-width: 75%;
    }

    &__number-input {
      width: 100%;
    }

    &__date {
      max-width: 75%;

      input {
        width: calc(50% - 9px);
      }
    }

    &__images {
      width: 15%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 400px) {
  .modal-overview {
    &__inner img {
      width: 75px;
      height: auto;
    }
  }

  .card{
    &__back {
      height: 185px;
    }

    &__cvv-input {
      height: 20px;
    }

    &__cvv-description {
    max-width: 75px;
    }
  }
}

@media (max-width: 375px) {
  .header {
    padding: 19px 0;
  }

  .header-nav {
    padding: 20px;
  }

  .virtual-tours {
    &__grid {
      padding: 0 25px;
    }
  }

  .video-control {
    padding: 15px 15px 12px;
    &__item:not(:last-child) {
      margin-right: 10px;
    }
  }

  .footer-menu {
    &__list {
      grid-column-gap: 30px;
    }
  }

  .booking-form {
    font-size: 16px;
  }

  .card {
    &__number,
    &__date {
      max-width: none;
    }

    &__images {
      display: none;
    }

    &__input {
      height: 20px;
    }
  }
}