.toys-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 36px;
  padding: 0;
}

@media (max-width: 1200px) {
  .toys-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 950px) {
  .toys-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 680px) {
  .toys-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
