.page {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background: #010101;

  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;

  transform: translateX(-150%);

  transition: transform 1s;

  &.show {
    transform: translateX(0%);
  }
}

.page__main {
  flex-grow: 1;
}

.page-buttons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-top: auto;

  &__button {
    margin: 0 10px;
    width: 50%;
    max-width: 268px;
  }
}

.page-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  
  scrollbar-color: #ffffff #010101;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: #010101;
    border-radius: 100px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #ffffff;
  }
}

