.page {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-image: linear-gradient(to bottom, #dae3e8 0%, #dae3e8 60%,#ffffff 100%);

  overflow: hidden;
}

.page__main {
  flex-grow: 1;
}

