.page {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background: #010101;

  overflow: hidden;
}

.page__main {
  flex-grow: 1;
}

.page-buttons {
  display: flex;
  justify-content: center;
  margin: 0 -10px;

  &__button {
    width: 50%;
    max-width: 268px;
  }
}

