@import url(_normalize.scss);
@import url(_fonts.scss);
@import url(_global.scss);

/*------------------------------- HEADER -------------------------------*/

.header {
  padding: 59px 0;

  font-weight: 200;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
  &__img {
    margin-right: 25px;
  }
}

.header-nav {
  letter-spacing: 2px;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    
    &:not(:last-child) {
      margin-right: 56px;
    }
  }

  &__link {
    transition: color 0.3s;
    &:hover {
      color: #9D8665;
    }
    &:active {
      color: #7E6C51;
    }
  }
}

.section {
  padding: 75px 0;

  &--welcome {
    padding: 0 0 60px;
  }

  &--even {
    color: #000000;

    background-color: #ffffff;

    .section-title {
      color: #9D8665;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    row-gap: 60px;

    &--vertical-centre {
      align-items: center;
    }
  }

  &__column {
    box-sizing: border-box;

    &--first {
      margin-right: 60px;
    }

    &--second {
      width: 50%;
      flex-shrink: 0;
    }
  }

  &__text {


    line-height: 38px;
    a {
      color: #caaa7d;
    }

    p {
      margin: 0;
      margin-bottom: 25px;
    }
  }
}

.section-title {
  margin: 0;
  margin-bottom: 75px;

  font-family: 'Forum', cursive;
  font-size: 80px;
  line-height: 90px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;

  &--underline {
    position: relative;

    padding-bottom: 30px;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      
      height: 3px;
      margin: 0;

      background-color: #710707;
    }
  }
}

.slider {
  position: relative;

  &__wrapper {
    max-width: 100%;

    overflow: hidden;
  }

  &__slides {
    display: flex;
    width: 10000px;
  }
}

.welcome-section {
  &__inner {
    display: flex;
  }
  &__body {
    position: relative;
    z-index: 1;

    max-width: 600px;
    padding-top: 150px;
    flex-shrink: 0;

    letter-spacing: 2px;
  }
  &__title {
    margin: 0;
    margin-bottom: 25px;
  }
  &__text {
    margin: 0;
    margin-bottom: 75px;

    font-size: 28px;
  }
  &__button {
    display: inline-block;
    padding: 25px 66px;

    background: #710707;
    border-radius: 10px;

    transition: background-color 0.3s;

    &:hover {
      background-color: #9D8665;
    }
  }
  &__slider-wrapper {
    max-width: 1000px;
    margin-left: -160px;
  }
}

.welcome-slider {

  &__pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    padding: 46px 75px;

    background-color: #030303;

    transform: translateY(50%);
  }

  &__fraction {
    span {
      margin: 0 5px;
    }
  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    display: flex;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      width: 30px;
      height: 8px;

      stroke: #ffffff;

      transition: stroke 0.3s;
    }

    &:hover {
      svg {
        stroke: #9D8665;
      }
    }
  }

  &__arrow-next {
    margin-left: 20px;

    svg {
      transform: rotate(180deg);
    }
  }
}

.slider-dots {
  display: flex;

  &__dot {
    width: 16px;
    height: 16px;

    border: none;
    background-color: #ffffff;

    transition: background-color 0.3s;

    &:not(:last-child) {
      margin-right: 25px;

      cursor: pointer;
    }

    &.active {
      background-color: #D2B183;
    }

    &:hover {
      background-color: #9D8665;
    }
  }
}

.virtual-tours {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 75px 60px;
  }
}

.tour-card {
  display: block;

  font-weight: 200;

  &:hover {
    .tour-card__title::after {
      width: 100%;
    }
  }

  &__img {
    margin-bottom: 25px;
  }

  &__title {
    position: relative;

    padding: 0 0 12px;
    margin: 0;

    font-family: 'Forum', cursive;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      height: 2px;
      width: 68%;

      background-color: #710707;

      transition: width 0.4s ease-in-out;
    }
  }

  &__subtitle {
    margin: 10px 0;
  }

  &__description {
    margin: 0;

    font-size: 18px;
  }
}

.picture-explore {
  &__img {
    margin-top: 15px;
  }
}

.video-section {

  &__video {
    margin-bottom: 40px;
  }
}

.video {
  position: relative;

  height: 735px;

  &__poster {
    width: 100%;
  }

  &__control-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.video-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 30px;

  background-color: #030303;

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__button {
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      fill: #B3B3B3;

      transition: all 0.3s;
    }

    &:hover {
      svg {
        fill: #989898;
      }
    }
  }

  &__range {
    background: linear-gradient(to right, #710707 50%, #C4C4C4 50%);
  border: none;
  border-radius: 0;
  height: 8px;
  width: 400px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;

    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;

      border-radius: 50%;
      -webkit-appearance: none;
      background: #FFFFFF;
    }
  }

  &__progress {
    flex-grow: 1;
  }

  &__volume {
    max-width: 155px;
  }
}

.video-slider {
  &__wrapper {
    margin-bottom: 40px;
  }

  &__slide {
    height: 254px;
    max-width: 452px;
    margin-right: 42px;

    iframe {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dots {
    margin: 0 20px;
  }

  &__dot {
    width: 12px;
    height: 12px;

    background-color: #999999;
    border: none;
    border-radius: 50%;

    transition: background 0.3s;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.active {
      background-color: #333333;
    }

    &:hover {
      background-color: #710707;
    }
  }

  &__arrow {
    display: flex;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    svg {
      fill: #999999;

      transition: fill 0.3s;
    }

    &:hover {
      svg {
        fill: #710707;
      }
    }
  }

  &__arrow-next {
    svg {
      transform: rotate(180deg);
    }
  }
}

