<header id="header"></header>
<div class="game-page">
  <div class="container">
    <div class="question-wrapper page-wrapper" id="question"></div>
    <div id="right-answer"></div>
  </div>
</div>
<div class="page-buttons">
  <a href="#" class="page-buttons__button button button-help button-help--top" data-helps="Вернуться на главную страницу">На главную</a>
  <a class="page-buttons__button button button-help button-help--top" href="#{{ categoriesLink }}" data-helps="Выбрать другой раунд">Раунды</a>
</div>