.footer {
  padding: 20px 0 10px;

  font-size: 16px;
  color: #ffffff;

  background: linear-gradient(to top, rgba(168, 24, 23, 1) 80%, rgba(168, 24, 23, 0) 100%);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__rsschool {
  flex-shrink: 0;
}

.footer__logo {
  height: 30px;
}

.footer p {
  margin: 0;
}
